@import '../components/sidebar.scss';

@import '../components/main-content.scss';

@import '../components/footer.scss';

.my-show-user{
    width: 100%;
    display: flex;
    border: 1px solid red;

    .sidebar-part{
        width: 15%;
        position: fixed;
    }

    .main-content-part{
        width: 85%;
        margin-left: 15%;
    }
}



